<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sample</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/hoge" routerLinkActive="active">Hoge</a></li>
        <li><a routerLink="/fuga" routerLinkActive="active">Fuga</a></li>
        <li><a routerLink="/tabs" routerLinkActive="active">Tabs</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
