<button class="btn btn-primary" (click)="dynamicTabChange(agGridTabs)">
  動的セット
</button>
<!--<button class="btn btn-primary" (click)="dynamicTabTarget('Dynamic2')">-->
  <!--Dynamic2をリフレッシュ-->
<!--</button>-->
<!--<button class="btn btn-primary" (click)="refreshGrid()">-->
  <!--表示中gridをリフレッシュ-->
<!--</button>-->


<tabset #agGridTabs>
  <tab *ngFor="let tabz of tabs"
       [heading]="tabz.title"
       [active]="tabz.active"
       (select)="selectTab(tabz)"
       (deselect)="tabz.active = false"
       [disabled]="tabz.disabled"
       [removable]="tabz.removable"
       (removed)="removeTabHandler(tabz)"
       [customClass]="tabz.customClass">
    <app-ag-grid #{{tabz.title}} [gridKey]="tabz.title" [rows]="tabz.rows"></app-ag-grid>
  </tab>
</tabset>
